* {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }
  *:focus {
    outline: none; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

body {
  color: #fff;
  font: 16px "JosefinSans", Arial, "Times New Roman", sans-serif; }

.ba-container {
  width: 80%;
  margin: 0 auto; }

.ba-header {
  background: #5474fd url("../img/backgrounds/header.jpg") 50% no-repeat;
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .ba-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    align-self: center; }
  .ba-header__title {
    text-transform: uppercase;
    font-family: "JosefinSans-Bold";
    font-size: 48px;
    letter-spacing: 0.1em; }
  .ba-header__desc {
    letter-spacing: 0.31em;
    font-size: 22px; }
  .ba-header__search {
    margin: 50px 0;
    width: 650px;
    height: 60px; }
  .ba-header__scroll {
    position: absolute;
    bottom: 15%;
    margin: 0 auto;
    width: 95px;
    text-align: center; }

.ba-search {
  background: #fff;
  padding: 2px; }
  .ba-search__input {
    display: block;
    float: left;
    width: calc(100% - 150px);
    height: 100%;
    text-align: center;
    letter-spacing: 0.2em; }
    .ba-search__input::-webkit-input-placeholder {
      color: #999; }
    .ba-search__input:-ms-input-placeholder {
      color: #999; }
    .ba-search__input::-ms-input-placeholder {
      color: #999; }
    .ba-search__input::placeholder {
      color: #999; }
  .ba-search__button {
    background: #5474fd;
    width: 150px;
    height: 100%;
    color: #fff;
    font: 16px "Aleo", sans-serif;
    letter-spacing: 0.1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
    .ba-search__button:hover {
      opacity: 0.6;
      cursor: pointer; }
  .ba-search__svg {
    width: 20px;
    height: 20px;
    fill: #fff; }

.ba-scroll {
  text-decoration: none;
  opacity: 0.6;
  color: #fff; }
  .ba-scroll:hover {
    opacity: 1; }
  .ba-scroll:visited {
    color: #fff; }
  .ba-scroll__arrow {
    width: 26px;
    fill: #fff; }
  .ba-scroll__text {
    margin-bottom: 15px;
    display: inline-block; }

.ba-nav {
  background: #5474fd;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1; }
  .ba-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80px; }
  .ba-nav__logo {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 80px;
    font-family: JosefinSans-Bold; }
  .ba-nav__mainMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.mainMenu {
  list-style-type: none;
  font-size: 14px;
  font-family: "Aleo"; }
  .mainMenu__item {
    display: inline-block;
    float: left;
    text-transform: uppercase;
    margin-right: 40px; }
    .mainMenu__item:last-child {
      margin-right: 0; }

.ba-whyChooseUs {
  background: #373d3e url("../img/backgrounds/whyChooseUs.png") 50% no-repeat;
  background-size: cover; }

.ba-block {
  padding: 120px 0; }
  .ba-block > .ba-block__col {
    width: 45%;
    float: left; }
    .ba-block > .ba-block__col:first-child {
      margin-right: 10%; }
  .ba-block__title {
    font: 36px Aleo, serif;
    margin: 70px 0; }
  .ba-block__text {
    letter-spacing: 0.1em;
    line-height: 1.625em; }
  .ba-block__button {
    width: 225px;
    height: 60px;
    text-transform: uppercase;
    color: #fff;
    background: -webkit-linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
    background: -o-linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
    background: linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
    font-family: Aleo serif;
    letter-spacing: 0.075em;
    margin: 40px 0 15px;
    text-align: center;
    line-height: 60px; }
  .ba-block__image {
    line-height: 0;
    display: block;
    width: auto; }
    .ba-block__image :last-child {
      margin-top: 5px;
      float: right; }

.ba-section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.ba-booking_first {
  background-image: url("../img/backgrounds/booking1.png"); }

.ba-booking_second {
  background-image: url("../img/backgrounds/booking2.png"); }

.ba-booking_card {
  top: 30vh;
  min-height: 370px;
  background-color: rgba(35, 35, 35, 0.9);
  padding: 50px 30px; }

.ba-booking .ba-block_booking_space {
  min-height: 1px;
  height: 1px; }

.ba-tourist {
  background-image: url("../img/backgrounds/tourist.png"); }
  .ba-tourist .ba-block__title {
    text-align: center; }
  .ba-tourist_review {
    height: 25vh;
    min-height: 290px;
    background-color: rgba(35, 35, 35, 0.9);
    margin: 0 auto; }

.ba-footer {
  height: 270px;
  background-color: #232323;
  padding-top: 120px; }
  .ba-footer_content {
    width: 170px;
    margin: 0 auto; }
  .ba-footer_title {
    text-transform: uppercase;
    font-size: 28px; }
  .ba-footer_subtitle {
    font-size: 17.4px;
    text-align: center; }
  .ba-footer_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .ba-footer_icons i:hover {
      color: #5474fd; }
