* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }
  *:focus {
    outline: none; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

body {
  color: #fff;
  font: 400 16px "JosefinSans", Arial, "Times New Roman", sans-serif; }

img {
  display: block; }

.ba-container {
  width: 80%;
  margin: 0 auto; }

.ba-header {
  background: #5474fd url("../img/backgrounds/header.jpg") 50% no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center; }
  .ba-header__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center; }
  .ba-header__title {
    text-transform: uppercase;
    font-family: "JosefinSans-Bold";
    font-size: 48px;
    letter-spacing: 0.1em; }
  .ba-header__desc {
    letter-spacing: 0.31em;
    font-size: 22px; }
  .ba-header__search {
    margin: 50px 0;
    width: 650px;
    height: 60px; }
  .ba-header__scroll {
    position: absolute;
    bottom: -40%;
    margin: 0 auto;
    width: 95px;
    text-align: center; }

.ba-search {
  background: #fff;
  padding: 2px; }
  .ba-search__input {
    display: block;
    float: left;
    width: calc(100% - 150px);
    height: 100%;
    text-align: center;
    letter-spacing: 0.2em; }
    .ba-search__input::placeholder {
      color: #999; }
  .ba-search__button {
    background: #5474fd;
    width: 150px;
    height: 100%;
    color: #fff;
    font: 16px "Aleo", sans-serif;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .ba-search__button:hover {
      opacity: 0.6;
      cursor: pointer; }
  .ba-search__svg {
    width: 20px;
    height: 20px;
    fill: #fff; }

.ba-scroll {
  text-decoration: none;
  opacity: 0.6;
  color: #fff; }
  .ba-scroll:hover {
    opacity: 1; }
  .ba-scroll:visited {
    color: #fff; }
  .ba-scroll__arrow {
    width: 26px;
    fill: #fff; }
  .ba-scroll__text {
    margin-bottom: 15px;
    display: inline-block; }

.ba-nav {
  background: #5474fd;
  position: sticky;
  top: 0px;
  z-index: 1; }
  .ba-nav__wrapper {
    display: flex;
    justify-content: space-between;
    height: 80px; }
  .ba-nav__logo {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 80px;
    font-family: JosefinSans-Bold; }
  .ba-nav__mainMenu {
    display: flex;
    align-items: center; }

.mainMenu {
  list-style-type: none;
  font-size: 14px;
  font-family: "Aleo"; }
  .mainMenu__item {
    display: inline-block;
    float: left;
    text-transform: uppercase;
    margin-right: 40px; }
    .mainMenu__item:last-child {
      margin-right: 0; }

.ba-whyChooseUs {
  background-image: url("../img/backgrounds/whyChooseUs.png"); }

.ba-block {
  padding: 120px 0; }
  .ba-block__col {
    width: 45%;
    float: left; }
    .ba-block__col:first-child {
      margin-right: 10%; }
    .ba-block__col--space {
      min-height: 1px;
      height: 1px; }
  .ba-block__title {
    font: 36px Aleo, serif;
    margin: 70px 0; }
    .ba-block__title--center {
      text-align: center; }
  .ba-block__text {
    letter-spacing: 0.1em;
    line-height: 1.625em; }
  .ba-block__button {
    width: 225px;
    height: 60px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
    font-family: Aleo serif;
    letter-spacing: 0.075em;
    margin: 40px 0 15px;
    text-align: center;
    line-height: 60px; }
    .ba-block__button:hover {
      opacity: 0.6;
      cursor: pointer; }
  .ba-block__image :last-child {
    margin-top: 5px;
    float: right; }

.ba-container--steps {
  height: 100%;
  display: flex; }

.ba-steps {
  height: 340px;
  background-color: #333333; }
  .ba-steps__wrap {
    display: flex;
    padding: 50px 70px;
    width: 100%; }
  .ba-steps__text {
    font-size: 42px;
    font-family: Aleo, serif;
    margin: 30px 0; }
  .ba-steps__element {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    width: calc(100%/3); }
  .ba-steps__element + .ba-steps__element:after {
    content: '';
    position: absolute;
    width: 450px;
    height: 400px;
    border: 2px dotted #fff;
    border-color: #fff transparent transparent;
    border-radius: 50%;
    left: -230px;
    top: -40px; }
  .ba-steps__svg {
    width: 60px; }
    .ba-steps__svg path {
      fill: #5474fd; }
    .ba-steps__svg--red path {
      fill: #ff6363; }

.ba-section {
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.ba-booking--first {
  background-image: url("../img/backgrounds/booking1.png"); }
.ba-booking--second {
  background-image: url("../img/backgrounds/booking2.png"); }
.ba-booking__card {
  min-height: 370px;
  background-color: rgba(35, 35, 35, 0.9);
  padding: 50px 30px;
  line-height: 1.625em; }
.ba-booking__title, .ba-booking__subtitle {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.625em; }
.ba-booking__title {
  letter-spacing: 0.075em; }
.ba-booking__subtitle {
  text-transform: uppercase; }

.ba-tourist {
  background-image: url("../img/backgrounds/tourist.png"); }
  .ba-tourist__review {
    display: flex;
    background-color: rgba(35, 35, 35, 0.9);
    margin: 0 auto; }
  .ba-tourist__content {
    padding: 50px;
    width: 100%; }
  .ba-tourist__name {
    font-size: 20px;
    text-transform: uppercase; }
  .ba-tourist__message {
    line-height: 1.625em; }
    .ba-tourist__message sup {
      color: #5474fd; }

.ba-footer {
  height: 270px;
  background-color: #232323;
  padding-top: 100px; }
  .ba-footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
    text-align: center; }
    .ba-footer__content > [class^="ba-footer"] {
      min-width: 205px; }
  .ba-footer__title {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 0.14em; }
  .ba-footer__subtitle {
    letter-spacing: 0.1em; }
  .ba-footer__icons {
    display: flex;
    justify-content: space-between; }
    .ba-footer__icons i:hover {
      color: #5474fd;
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
